.layout {
  margin-top: 10px;
}

.layout .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  padding: 10px 0;
  line-height: 52px;
}

.layout .header :global(.ant-input-search) {
  width: 210px;
}

.layout :global(.ant-table-tbody) {
  background: #ffffff;
}

.layout :global(.ant-table-tbody) > tr b {
  font-weight: normal;
  cursor: pointer;
}

.layout :global(.ant-table-tbody) > tr span {
  color: #1890ff;
  cursor: pointer;
}

.layout :global(.ant-table-tbody) > tr span:hover {
  color: #40a9ff;
}

.layout :global(.ant-table-tbody) > tr:nth-child(odd) {
  background: #f6f6f6;
}

.layout :global(.ant-table-tbody) > tr:nth-child(even) {
  background: #ffffff;
}
