.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f2f5;
  background-image: url('@/assets/login.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}

.main {
  margin: -48px auto 0 auto;
}

.main :global(.ant-form-item) {
  margin: 0 2px 24px;
}

.main :global(.ant-form-item .ant-input) {
  border-radius: 4px;
}

.main :global(.ant-form-item .ant-btn) {
  border-radius: 4px;
}
