.transfer :global(.ant-transfer) {
  display: inline-block;
}

.transfer :global(.ant-transfer-list) {
  flex: none;
}

.transfer :global(.ant-transfer-list .ant-transfer-list-body) {
  overflow: auto;
}
