.layout :global(.ant-pro-sider-menu-logo) {
  padding: 0;
}

.layout :global(.ant-pro-sider-menu-logo > b) {
  cursor: auto;
  margin: 0 0 0 12px;
  height: 64px;
  line-height: 64px;
}

.layout :global(.ant-pro-sider-menu-sider) {
  box-shadow: none;
}

.layout :global(.ant-pro-sider-menu-sider .ant-pro-sider-menu) {
  padding-top: 0 !important;
}

.layout :global(.ant-pro-global-header) {
  background-color: #30363e;
  box-shadow: none;
  border-bottom: 1px solid #222222;
}

.layout :global(.ant-pro-global-header-trigger:hover) {
  background: transparent;
}

.layout :global(.ant-pro-basicLayout-content) {
  margin: 0;
  border-left: 1px solid #e8e8e8;
}

.layout :global(.ant-pro-page-header-wrap) {
  margin: 0;
}

.layout :global(.ant-pro-page-header-wrap .ant-pro-page-header-wrap-page-header-warp) {
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}

.layout :global(.ant-pro-page-header-wrap .ant-pro-page-header-wrap-children-content) {
  margin: 0px 12px 20px 12px;
}

.layout :global(.ant-pro-page-header-wrap .ant-page-header) {
  padding: 16px 12px;
}

.header {
  height: 64px;
  line-height: 64px;
  background-color: #30363e;
  box-shadow: none;
  border-bottom: 1px solid #222222;
}
