.layout {
  margin: 0;
}

.layout :global(.ant-avatar .anticon) {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.popover {
  user-select: none;
}

.popover:global(.ant-popover) {
  z-index: 999;
}

.popover:global(.ant-popover .ant-popover-arrow) {
  border-top-color: #1890ff;
  border-left-color: #1890ff;
  z-index: -1;
}

.popover:global(.ant-popover .ant-popover-inner) {
  border-top: 3px solid #1890ff;
}

.popover:global(.ant-popover .ant-popover-inner .ant-popover-title) {
  margin: 0;
  padding: 8px;
  background: #fafafa;
}

.popover:global(.ant-popover .ant-popover-inner .ant-popover-inner-content) {
  position: relative;
  margin: 0;
  padding: 0;
}

.popover :global(.ant-menu) {
  border: none;
}

.popover :global(.ant-menu .ant-menu-item) {
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
  width: 210px;
}

.popover :global(.ant-menu .ant-menu-item-active) {
  background-color: #f5f5f5;
}

.popover :global(.ant-menu .ant-menu-item-divider) {
  margin: 0;
}
