.drawer :global(.ant-drawer-content-wrapper) {
  user-select: none;
  padding: 5px;
  box-shadow: none !important;
}

.drawer :global(.ant-drawer-content-wrapper .ant-drawer-content) {
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.drawer :global(.ant-drawer-content-wrapper .ant-drawer-header) {
  background: transparent;
}

.drawer :global(.ant-drawer-content-wrapper .ant-drawer-header) {
  padding: 16px 15px;
}

.drawer :global(.ant-drawer-content-wrapper .ant-drawer-body) {
  padding: 21px 15px;
}
